{% extends 'books/base.html' %}

{% block body %}

{% if perms.books.change_book %}
    <li class="">
        <a href="{% url 'books:book-update' book.id %}">
            <span class="btn btn-success" aria-hidden="true">Edit Info</span>
        </a>
    </li>
{% endif %}


<img src ="{{ book.Book_Cover.url }}">

<h1>{{book.Book_Title}}</h1>
<h3>{{ book.Author }}</h3>
<h4>{{ book.Genre}}, {{ book.Publisher}}</h4>
<h5> ISBN: {{ book.ISBN }}</h5><br><br>


{% comment %} <a href="{% url 'books:review-add' %}">
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Review
    </button>
</a> {% endcomment %}
<ul>
    {% for review in book.review_set.all %}
        <li>{{ review.user.username }} : {{ review.Description }} </li><br>
    {% endfor %}
</ul>
{% endblock %}