{% extends 'books/base.html' %}

{% block body %}

{% if perms.books.change_book %}
    <li class="">
        <a href="{% url 'books:book-update' book.id %}">
            <span class="btn btn-default" aria-hidden="true">Edit Info</span>
        </a>
    </li>
{% endif %}


<img src ="{{ book.Book_Cover.url }}">

<h1>{{book.Book_Title}}</h1>
<h3>{{ book.Author }}</h3>
<h4>{{ book.Genre}}, {{ book.Publisher}}</h4>
<h5> ISBN: {{ book.ISBN }}</h5>

<ul>
    {% for review in book.review_set.all %}
        <li>{{ review.Description }} </li>
    {% endfor %}
</ul>
{% endblock %}